body {
  font-family: 'Arimo', sans-serif; 
  /* Change my background, and set global font family.*/
}

.content-wrapper {
  position: absolute;
  /* Center on page, set width */
}

header h1 {
  font-size: 48px;
  color: #A56FDC;
  text-align: center;
  background-color: white; 
  padding: 20px 30px 20px 30px;   
  /* Make bigger and color, Change our font family to a sans serif and center */  
}

.main-nav {
  background-color: #A56FDC;  
  text-decoration: none;
  padding: 0px 422px 22px 422px;  
  /* Change background color, remove bullets, border on each individual nav element. create and float links, center our content within the links. width, font color, change font family */
}

.nav{
  padding: 3px 7px 3px 7px;
  border-right: 3px solid #694784;
  }

ul#horizontal-list li {
  display: inline;  
	} 

aside {
  background-color: #CBB4ED;
  float: left;
  clear: left;
  padding:97px 16px 97px 19px;
  /* clear float, background color, float, font color */
}

.photo{
  padding: 7px;
}

article {
  background-color: #C3BABA;  
  /* background-color, float to the right?, font size  */
}

figure {
  padding: 22px 48px 22px 48px;
  text-align: center; 
/* Center, size of the font */  
}

footer {
  background-color: white;
  position:fixed;
  bottom:0;
  left:40%;  
   /* float the images, create links, center links */
}
.icon {
  width: 48%;
  padding-bottom: 27px;
}

a{
  color: white;
  text-decoration: none; 
  float: left;
  padding: 0px 30px 0px 30px;  
}